*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    width: 1200px;
    margin: auto;
}

#burger, [for=burger]{
    display: none;
}

@media screen and (max-width:500px) {
    .container{
        width: 80%;
    }

    .nav_burger{
        display: none;
        background: rgba(11, 14, 19, 0.644);
        position: fixed;
        top: 0;
        width: 80%;
    }

    /* nav a{
        color: white;
    } */

    [for=burger]{
        display: block;
        position: fixed;
        width: 20px;
        right: 0px;
        top: 0px;
    }

    #burger:checked + label + .nav_burger{
        display: block;
    }

    #burger:checked + [for=burger]::before{
        content: "⨂";
    }

    [for=burger]::before{
        content: "≡";
    }
}